*.user
=======
/debug
/release
Finger_EMG/Makefile.Release
*.user
Finger_EMG/debug/*
Finger_EMG/release/*
*.o
*.Release
*.Debug
*moc*.cpp
*moc*.h
*.pro.user.*
*.autosave
out*.wav
*/out.csv
Finger_EMG/Makefile
Finger_EMG/out.csv
Finger_EMG/release/qrc_resources.cpp
Finger_EMG/users*
*.asv
*Thumbs.db
docs/Thumbs.db
build-DataTransfer-Desktop_Qt_5_13_1_MinGW_64_bit-Debug/*